/* General styles
 ===================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    --color-black: #000;
    --color-dark: #373742;
    --color-dark-alt: #0E2439;
    --color-gray: #B6B6B6;
    --color-light-gray: #E4E8EC;
    --color-light: #F6F6F6;
    --color-light-alt: #F8FCFF;
    --color-success: #26C194;
    --color-purple: #9A66F3;
    --color-dark-blue: #4D6D93;
    --color-alert: #FC4655;
    --color-orange: #FD9731;
    --color-white: #fff;
    --bg: #fff;
    --color-heading: #373742;
    --color-heading-alt: #4D6D93;
    --bg-panel: #F6F6F6;
    --bg-panel3: #E4E8EC;
    --bg-panel-alt: #F8FCFF;
    --color-text-dark: #373742;
}

html[data-theme='dark'] {
    --bg: #333333;
    --bg-panel: #434343;
    --bg-panel-alt: #434343;
    --bg-panel3: #434343;
    --color-heading: #3694FF;
    --color-heading-alt: #3694FF;
    --color-text: #B5B5B5;
    --color-text-dark: #B5B5B5;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
}

body {
    font-family: $heading;
    font-weight: 400;
    font-size: 1.5rem;
    background-color: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading;
}

a {
    text-decoration: none;
    color: #000;
}

ul,
li {
    list-style: none;
}

.container {
    max-width: 2340px;
    padding: 0 1.5rem;
    margin: 0 auto;

    @media(max-width: $mobile) {
        padding: 0 1rem;
    }
}

.container-sm {
    max-width: 1560px;
    padding: 0 1.5rem;
    margin: 0 auto;

    @media(max-width: $mobile) {
        padding: 0 1rem;
    }
}

.text {
    color: var(--color-gray);
    font-size: 2.2rem;
    line-height: 1.7;
    margin-top: 1rem;

    &--alt {
        color: var(--color-text-dark);
    }

    @media(max-width: $laptop-xl) {
        font-size: 1.6rem;
    }

    @media(max-width: $laptop-lg) {
        font-size: 1.4rem;
    }
}

.heading-lg {
    font-size: 5rem;
    padding: 2rem 0;
    text-align: center;
    border-bottom: 1px solid var(--color-light-gray);
    color: var(--color-heading);

    @media(max-width: $laptop-xl) {
        font-size: 3rem;
    }

    @media(max-width: $laptop-lg) {
        font-size: 2.6rem;
    }

    @media(max-width: $mobile-lg) {
        font-size: 2.8rem;
    }

    @media(max-width: $mobile) {
        font-size: 2.4rem;
    }
}

.heading-underlined {
    font-size: 5rem;
    padding: 4rem 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--color-heading-alt);
    position: relative;
    display: block;

    @media(max-width: $laptop-xl) {
        font-size: 3rem;
    }

    @media(max-width: $laptop-lg) {
        font-size: 2.6rem;
    }


    @media(max-width: $mobile-lg) {
        font-size: 2.8rem;
    }

    @media(max-width: $mobile) {
        font-size: 2.4rem;
    }

    &::after {
        max-width: 600px;
        width: 100%;
        height: 20px;
        content: '';
        display: block;
        background-color: rgba(45, 128, 32, 0.4);
        margin: 1rem auto;

        @media(max-width: $laptop-xl) {
            height: 10px;
        }
    }
}

.center {
    display: flex;
    justify-content: center;
}

.btn {
    border: none;
    font-family: $heading;
    text-transform: uppercase;
    font-size: 2.2rem;
    padding: 1.2rem 2.5rem;
    font-weight: 700;
    color: var(--color-white);
    border-radius: .3em;

    @media(max-width: $laptop-xl) {
        font-size: 1.4rem;
        padding: .7rem 2rem;
    }

    @media(max-width: $mobile-xs) {
        font-size: 1.5rem;
    }

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }

    &--orange {
        background-color: var(--color-orange);
    }

    &--alert {
        background-color: var(--color-alert);
    }

    &--alt {
        border-radius: 0;
        padding: 1.2rem 4.5rem;
        text-transform: capitalize;
    }

    &--bordered {
        background-color: var(--color-light);
        color: var(--color-dark);
        border-radius: 0;
        padding: 1rem 2rem;
        text-transform: capitalize;

    }
}

.input {
    border: 1px solid var(--color-gray);
    box-sizing: border-box;
    padding: 1rem 2rem;
    font-size: 2.4rem;
    font-family: $text;
    width: 100%;

    @media(max-width: $laptop-lg) {
        font-size: 1.6rem;
    }

    @media(max-width: $laptop-lg) {
        font-size: 1.4rem;
    }

    @media(max-width: $tablet) {
        font-size: 1.3rem;
    }

    &:focus {
        outline: none;
    }
}

/* Switch button
 ===================*/
label {
    display: flex;
    align-items: center;
}

.switch {
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    z-index: -1;
}

.switch:checked~.switch-checkbox {
    background: rgb(252, 222, 90);
}

.switch:checked~.switch-checkbox:after {
    left: 50%;
    background: whitesmoke;
}

.switch:checked~.switch-checkbox:active::after {
    left: 27%;
    background: whitesmoke;
}

.switch:not(:checked)~.switch-checkbox:active {
    background: #a3a3a3;
}

.switch:not(:checked)~.switch-checkbox:active::after {
    background: rgb(248, 248, 248);
}

.switch-checkbox {
    display: flex;
    align-items: center;
    width: 60px;
    height: 30px;
    position: relative;
    cursor: pointer;
    background: var(--color-dark-blue);
    border-radius: 2em;
    border: solid 3px rgba(255, 0, 0, 0);
    transition: all 0.2s ease;
}

.switch-checkbox:after,
.switch-checkbox:before {
    position: relative;
    display: flex;
    content: "";
    width: 50%;
    height: 100%;
}

.switch-checkbox:after {
    left: 0;
    border-radius: 50%;
    background: #f0f5f9;
    transition: all 0.3s;
    box-shadow: 2px 2px 5px rgba(110, 110, 110, 0.164);
}

span:active::after {
    width: 72%;
    border-radius: 2em;
}

.switch-checkbox:before {
    display: none;
}

.circle-icon {
    position: absolute;
    top: 2px;
    right: 5%;
}

.circle-icon2 {
    position: absolute;
    top: 2px;
    left: 8%;

}

.toTop {
    display: inline-block;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    transition: opacity .5s linear;
    opacity: 0;
    z-index: -1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        @media(max-width: $mobile) {
            width: 60px;
        }

    }
}

.toTop:hover {
    cursor: pointer;
}

#toTop.show {
    opacity: 1;
    z-index: 2000;
}